@media screen and (min-width: 800px) {
  body {
    overflow-x: hidden;
    background-color: #000000;
    padding: 0;
    margin: 0;
  }
  button {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 20%;
  }
  button:hover {
    background-color: #ffffff;
    color: #000;
  }
  .mainContent {
    background: url("/img/photo1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .mainContent .leftMainContent {
    background-color: transparent;
  }
  .mainContent .leftMainContent h2 {
    color: #b63551;
    font-family: 'Quicksand', sans-serif;
    font-size: 55px;
    font-weight: bold;
    margin: 5%;
    margin-left: 20%;
    text-shadow: 2px -2px 2px #000000;
  }
  .mainContent main {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vh;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainContent main ul {
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    padding: 0;
    margin-top: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .mainContent main ul li {
    float: left;
  }
  .mainContent main ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding: 0.2rem;
  }
  .mainContent main ul li:hover a {
    color: #b63551;
  }
  .mainContent main h1 {
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    margin-top: 20%;
  }
  .mainContent main p {
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    text-align: left;
    margin: 10%;
  }
  .mainContent main .contact {
    text-align: center;
    margin-left: 60%;
  }
  .aboutmeContent {
    background-color: transparent;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.3fr 1fr;
        grid-template-columns: 1fr 0.3fr 1fr;
  }
  .aboutmeContent .leftAboutmeContent img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-height: 50%;
    margin: 15%;
    -webkit-box-shadow: 0px 0px 45px 10px #b63551;
            box-shadow: 0px 0px 45px 10px #b63551;
  }
  .aboutmeContent .centerAboutmeContent {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
    color: #ffffff;
    text-align: center;
    position: relative;
  }
  .aboutmeContent .rightAboutmeContent img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-shadow: 40px 40px 25px #b63551;
            box-shadow: 40px 40px 25px #b63551;
    max-width: 70%;
    margin: 15%;
  }
  .portifolioContent {
    background-color: transparent;
    height: 100vh;
    width: 100%;
  }
  .portifolioContent .leftPortifolioContent {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 25%;
  }
  .portifolioContent .leftPortifolioContent img {
    max-height: 80%;
    margin-left: 20%;
    padding-bottom: 10%;
  }
  .portifolioContent .leftPortifolioContent h2 {
    color: #ffffff;
    margin-left: 35%;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: bold;
  }
  .contactContent {
    color: #000000;
    background-color: #b63551;
    width: 100%;
    height: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .contactContent .leftContactContent {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactContent .leftContactContent h2 {
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
  }
  .contactContent .leftContactContent p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  .contactContent .leftContactContent form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 100%;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #000000;
  }
  .contactContent .leftContactContent form input {
    width: 60%;
    height: 15%;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #ffffff;
    background-color: transparent;
    outline: none;
  }
  .contactContent .leftContactContent form textarea {
    width: 60%;
    height: 30%;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #ffffff;
    background-color: transparent;
    outline: none;
  }
  .contactContent .leftContactContent form button {
    color: #000000;
    border: 2px solid #000000;
  }
  .contactContent .leftContactContent form button:hover {
    color: #ffffff;
    background-color: #000000;
  }
  .contactContent .leftContactContent form ::-webkit-input-placeholder {
    color: #000000;
  }
  .contactContent .leftContactContent form :-ms-input-placeholder {
    color: #000000;
  }
  .contactContent .leftContactContent form ::-ms-input-placeholder {
    color: #000000;
  }
  .contactContent .leftContactContent form ::placeholder {
    color: #000000;
  }
  .contactContent .rightContactContent {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactContent .rightContactContent h2 {
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: bold;
  }
  .contactContent .rightContactContent p {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 10%;
    font-weight: 600;
  }
  .contactContent .rightContactContent a {
    color: #ffffff;
    text-decoration: none;
  }
  footer {
    background-color: #000000;
    width: 100%;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
  }
}

.div-slider {
  width: auto;
  height: auto;
  text-align: center;
}

.slides-front {
  padding: 0;
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
  position: relative;
}

.slides-front * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides-front input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 80%;
  display: block;
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .7s ease-in-out 0.1s;
  transition: all .7s ease-in-out 0.1s;
}

.slide img {
  max-width: 50%;
}

.nav label {
  display: none;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  text-shadow: 0px 0px 15px #b63551;
}

.slide:hover + .nav label {
  opacity: 0.5;
}

.nav label:hover {
  opacity: 1;
}

.nav .next {
  right: 0;
}

input:checked + .slide-container .slide {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 1s ease-in-out 0.1s;
  transition: opacity 1s ease-in-out 0.1s;
}

input:checked + .slide-container .nav label {
  display: block;
}

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: relative;
  text-align: end;
}

.nav-dots .nav-dot {
  top: 375px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3 {
  background: rgba(0, 0, 0, 0.8);
}
/*# sourceMappingURL=style.css.map */