// cores padrões do sistema
$primaryColor: #111111;
$transparentColor: transparent;
$hoverColor: rgb(139, 137, 137);
$background: #F7F9F9;
$colorWhite: #ffffff;
$colorBlue:rgb(0, 225, 255);
$colorRose:rgb(182, 53, 81);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    max-width: 97%;
}

body {
    // overflow-x: hidden;
    background-color: $background;

    img {
        image-rendering: pixelated;
    }

    font: 400 1rem 'Montserrat',
    sans-serif;
}

@media screen and (min-width: 800px) {
    #container-initial {
        margin-bottom: 5%;
        display: flex;
        justify-content: center;

        img {
            margin-left: 25%;
            border-radius: 10px 0 0 10px;
        }

        .menu {
            margin-left: 4%;
            margin-top: 2rem;

            ul {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                padding: 0.5rem;
                list-style: none;

                a {
                    color: $primaryColor;
                    text-decoration: none;

                    &:hover {
                        color: $colorRose;
                    }
                }

                li {
                    font-size: 1.4rem;

                    &+li {
                        margin-left: 2rem;
                    }
                }
            }

            .text-header {
                margin-top: 50%;

                h2 {
                    font-weight: 400;
                    font-size: 1.8rem;
                }

                h1 {
                    font-size: 3.75rem;
                }
            }
        }
    }

    .aboutmeContent {
        width: 100%;
        height: 80vh;
        background-color: $transparentColor;
        margin-bottom: 15%;
        // display: inline-flex;
        // flex-direction: row;

        figure {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                position: absolute;
                align-self: baseline;
                height: 60%;
                margin-top: 27%;
                margin-left: 5%;
                border: 2px solid $primaryColor;

            }

            .img1 {
                margin-top: 22%;
            }

            .img2 {
                margin-left: 20%;
            }
        }

        p {
            position: relative;
            color: $primaryColor;

            font-size: 1.3rem;
            text-align: justify;
            margin-top: 10%;
            margin-left: 55%;
            margin-right: 2%;
        }

        h2 {
            position: relative;
            color: $primaryColor;

            font-size: 2.5rem;
            font-weight: bold;
            letter-spacing: 0.055em;
            margin-left: 5%;
        }
    }

    .portifolioContent {

        background-color: $transparentColor;
        height: 100vh;
        width: 100%;
        margin-bottom: 5%;

        .leftPortifolioContent {
            display: inline-flex;
            width: 25%;

            h2 {
                color: $primaryColor;
                margin-left: 20%;

                letter-spacing: 0.055em;
                font-size: 50px;
                font-weight: bold;
            }
        }
    }

    .contactContent {
        color: $primaryColor;
        background-color: $transparentColor;
        width: 100%;
        height: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .leftContactContent {
            background-color: $transparentColor;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                color: $primaryColor;

                font-size: 30px;
                letter-spacing: 0.055em;
            }

            p {

                font-size: 20px;
                font-weight: 600;
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80%;
                height: 100%;
                background-color: $transparentColor;
                border-radius: 5px;
                padding: 10px;
                margin: 10px;
                border: 2px solid $primaryColor;

                input {
                    width: 60%;
                    height: 10%;
                    border: 2px solid $primaryColor;
                    border-radius: 5px;
                    padding: 10px;
                    margin: 10px;

                    font-size: 20px;
                    color: $primaryColor;
                    background-color: $transparentColor;
                    outline: none;
                }

                textarea {
                    width: 60%;
                    height: 25%;
                    border: 2px solid $primaryColor;
                    border-radius: 5px;
                    padding: 10px;
                    margin: 10px;

                    font-size: 20px;
                    color: $primaryColor;
                    background-color: $transparentColor;
                    outline: none;
                }

                button {
                    width: 30%;
                    height: 10%;
                    color: $primaryColor;
                    border: 2px solid $primaryColor;
                    border-radius: 5px;

                    &:hover {
                        color: $colorWhite;
                        background-color: $primaryColor;
                    }
                }

                ::placeholder {
                    color: $primaryColor;
                }
            }
        }

        .rightContactContent {
            background-color: $transparentColor;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                color: $primaryColor;

                font-size: 50px;
                font-weight: bold;
                letter-spacing: 0.055em;
            }

            p {

                font-size: 25px;
                text-align: center;
                margin: 10%;
                font-weight: 600;
            }

            a {
                color: $colorRose;
                text-decoration: none;
            }
        }
    }

    footer {
        background-color: $primaryColor;
        width: 103%;
        height: 12vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        color: $colorWhite;
        font-size: 20px;
        font-weight: bold;

        a {
            text-decoration: none;
            color: $colorWhite;
        }

    }

    //Definicoes do slider 

    .div-slider {
        width: auto;
        height: auto;
        text-align: center;
    }

    .slides-front {
        padding: 0;
        width: 90%;
        height: 90%;
        display: block;
        margin: auto;
        position: relative;
    }

    .slides-front * {
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }

    .slides-front input {
        display: none;
    }

    .slide-container {
        display: block;
    }

    .slide {
        top: 0;
        opacity: 0;
        width: 100%;
        height: 80%;
        display: block;
        position: absolute;

        transform: scale(0);

        transition: all .5s ease-in-out 0.1s;
    }

    .slide img {
        max-width: 60%;
    }

    .nav label {
        display: none;
        position: absolute;
        align-items: center;
        opacity: 0;
        z-index: 9;
        cursor: pointer;
        transition: opacity .2s;
        color: #FFF;
        font-size: 156pt;
        text-align: center;
        line-height: 380px;
        font-family: "Varela Round", sans-serif;
        text-shadow: 0px 0px 15px $primaryColor;
    }

    .slide:hover+.nav label {
        opacity: 0.5;
    }

    .nav label:hover {
        opacity: 1;
    }

    .nav .next {
        right: 0;
    }

    input:checked+.slide-container .slide {
        opacity: 1;

        transform: scale(1);

        transition: opacity 1s ease-in-out 0.1s;
    }

    input:checked+.slide-container .nav label {
        display: block;
    }

    .nav-dots {
        width: 100%;
        height: 11px;
        display: block;
        position: relative;
        margin: auto;
        bottom: -200px;
        text-align: center;

        a {
            text-decoration: none;
            color: $primaryColor;

            &:hover {
                color: $colorRose;
            }
        }

        h3 {
            margin-top: 400px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            list-style: none;
        }
    }

    .nav-dots .nav-dot {
        top: 375px;
        width: 11px;
        height: 11px;
        margin: 0 4px;
        position: relative;
        border-radius: 100%;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .nav-dots .nav-dot:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.8);
    }

    input#img-1:checked~.nav-dots label#img-dot-1,
    input#img-2:checked~.nav-dots label#img-dot-2,
    input#img-3:checked~.nav-dots label#img-dot-3,
    input#img-4:checked~.nav-dots label#img-dot-4 {
        background: rgba(0, 0, 0, 0.8);
    }
}

@media screen and (max-width: 800px) {
    #container-initial {

        margin-bottom: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            z-index: -2;
            margin-top: 20%;
            position: absolute;
            width: 135%;
            height: 80vh;
            border-radius: 10px;
        }

        .menu {
            color: $colorWhite;
            margin-top: 2rem;

            ul {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                padding: 0.5rem;
                list-style: none;

                a {
                    color: $colorWhite;
                    text-decoration: none;

                    &:hover {
                        color: $colorRose;
                    }
                }

                li {
                    margin-left: 5%;
                    font-size: 1.5rem;

                    &+li {
                        margin-left: 1.5rem;
                    }
                }
            }

            .text-header {
                margin-top: 80%;

                h2 {
                    font-weight: 400;
                    font-size: 1.8rem;
                }

                h1 {
                    font-size: 3.7rem;
                }

            }
        }

    }

    .aboutmeContent {
        width: 100%;
        background-color: $transparentColor;
        margin-bottom: 10%;
        margin-top: 70%;

        figure {
            display: flex;
            align-items: center;

            img {
                position: relative;
                width: 40%;
                border: 2px solid $primaryColor;

                margin-left: 4%;
            }

            .img1 {
                width: 50%;
                border: 2px solid $primaryColor;
            }

            .img2 {
                margin-left: -35%;
                margin-top: 20%;
            }
        }

        p {
            display: flex;
            color: $primaryColor;

            font-size: 1.3rem;
            text-align: justify;
            max-width: 550px;
            margin-top: 2%;
            margin-left: 2%;
            margin-right: 2%;
        }

        h2 {
            height: 10%;
            position: relative;
            color: $primaryColor;

            font-size: 2.5rem;
            font-weight: bold;
            margin-left: 5%;
        }
    }

    .div-slider {
        width: auto;
        height: auto;
        text-align: center;
    }

    .slides-front {
        padding: 0;
        width: 90%;
        height: 90%;
        display: block;
        margin: auto;
        margin-left: 15%;
        position: relative;
    }

    .slides-front * {
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }

    .slides-front input {
        display: none;
    }

    .slide-container {
        display: block;
    }

    .slide {
        top: 0;
        opacity: 0;
        width: 100%;
        height: 80%;
        display: block;
        position: absolute;

        transform: scale(0);

        transition: all .5s ease-in-out 0.1s;
    }

    .slide img {
        max-width: 80%;
    }

    .nav label {
        display: none;
        position: absolute;
        align-items: center;
        opacity: 0;
        z-index: 9;
        cursor: pointer;
        transition: opacity .2s;
        color: #FFF;
        font-size: 156pt;
        text-align: center;
        line-height: 380px;
        font-family: "Varela Round", sans-serif;
        text-shadow: 0px 0px 15px $primaryColor;
    }

    .slide:hover+.nav label {
        opacity: 0.5;
    }

    .nav label:hover {
        opacity: 1;
    }

    .nav .next {
        right: 0;
    }

    input:checked+.slide-container .slide {
        opacity: 1;

        transform: scale(1);

        transition: opacity 1s ease-in-out 0.1s;
    }

    input:checked+.slide-container .nav label {
        display: block;
    }

    .nav-dots {
        width: 100%;
        // bottom: -50px;
        height: 11px;
        display: block;
        position: relative;
        text-align: center;

        a {
            text-decoration: none;
            color: $primaryColor;

            &:hover {
                color: $colorRose;
            }
        }

        h3 {
            position: relative;
            margin-top: 70%;

            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            list-style: none;
        }
    }

    .nav-dots .nav-dot {
        top: 375px;
        width: 11px;
        height: 11px;
        margin: 0 4px;
        position: relative;
        border-radius: 100%;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .nav-dots .nav-dot:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.8);
    }

    input#img-1:checked~.nav-dots label#img-dot-1,
    input#img-2:checked~.nav-dots label#img-dot-2,
    input#img-3:checked~.nav-dots label#img-dot-3,
    input#img-4:checked~.nav-dots label#img-dot-4 {
        background: rgba(0, 0, 0, 0.8);
    }

    .portifolioContent {
        margin-top: 30%;
        background-color: $transparentColor;
        height: 60vh;
        width: 100%;

        .leftPortifolioContent {
            display: inline-flex;
            width: 25%;

            h2 {
                color: $primaryColor;
                margin-left: 10%;
                margin-bottom: 15%;

                font-size: 50px;
                font-weight: bold;
            }
        }
    }

    .contactContent {
        margin-left: 15%;
        color: $primaryColor;
        background-color: $transparentColor;
        width: 100%;
        height: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .leftContactContent {
            background-color: $transparentColor;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                color: $primaryColor;

                font-size: 20px;
            }

            p {

                font-size: 15px;
                font-weight: 600;
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                height: 100%;
                background-color: $transparentColor;
                border-radius: 5px;
                padding: 10px;
                margin: 10px;


                input {
                    width: 90%;
                    height: 5%;
                    border: 2px solid $primaryColor;
                    border-radius: 5px;
                    padding: 10px;
                    margin: 10px;

                    font-size: 20px;
                    color: $primaryColor;
                    background-color: $transparentColor;
                    outline: none;
                }

                textarea {
                    width: 90%;
                    height: 25%;
                    border: 2px solid $primaryColor;
                    border-radius: 5px;
                    padding: 10px;
                    margin: 10px;

                    font-size: 20px;
                    color: $primaryColor;
                    background-color: $transparentColor;
                    outline: none;
                }

                button {
                    color: $primaryColor;
                    border: 2px solid $primaryColor;

                    &:hover {
                        color: $colorWhite;
                        background-color: $primaryColor;
                    }
                }

                ::placeholder {
                    color: $primaryColor;
                }
            }
        }

        .rightContactContent {
            background-color: $transparentColor;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                color: $primaryColor;

                font-size: 30px;
                font-weight: bold;
            }

            p {

                font-size: 15px;
                text-align: center;
                margin: 10%;
                font-weight: 600;
            }

            a {
                color: $colorRose;
                text-decoration: none;
            }
        }
    }

    footer {
        background-color: $primaryColor;
        width: 135%;
        height: 12vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        color: $colorWhite;
        font-size: 20px;
        font-weight: bold;

        a {
            text-decoration: none;
            color: $colorWhite;
        }

    }
}