* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  max-width: 97%;
}

body {
  background-color: #F7F9F9;
  font: 400 1rem 'Montserrat', sans-serif;
}

body img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

@media screen and (min-width: 800px) {
  #container-initial {
    margin-bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #container-initial img {
    margin-left: 25%;
    border-radius: 10px 0 0 10px;
  }
  #container-initial .menu {
    margin-left: 4%;
    margin-top: 2rem;
  }
  #container-initial .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0.5rem;
    list-style: none;
  }
  #container-initial .menu ul a {
    color: #111111;
    text-decoration: none;
  }
  #container-initial .menu ul a:hover {
    color: #b63551;
  }
  #container-initial .menu ul li {
    font-size: 1.4rem;
  }
  #container-initial .menu ul li + li {
    margin-left: 2rem;
  }
  #container-initial .menu .text-header {
    margin-top: 50%;
  }
  #container-initial .menu .text-header h2 {
    font-weight: 400;
    font-size: 1.8rem;
  }
  #container-initial .menu .text-header h1 {
    font-size: 3.75rem;
  }
  .aboutmeContent {
    width: 100%;
    height: 80vh;
    background-color: transparent;
    margin-bottom: 15%;
  }
  .aboutmeContent figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutmeContent figure img {
    position: absolute;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    height: 60%;
    margin-top: 27%;
    margin-left: 5%;
    border: 2px solid #111111;
  }
  .aboutmeContent figure .img1 {
    margin-top: 22%;
  }
  .aboutmeContent figure .img2 {
    margin-left: 20%;
  }
  .aboutmeContent p {
    position: relative;
    color: #111111;
    font-size: 1.3rem;
    text-align: justify;
    margin-top: 10%;
    margin-left: 55%;
    margin-right: 2%;
  }
  .aboutmeContent h2 {
    position: relative;
    color: #111111;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.055em;
    margin-left: 5%;
  }
  .portifolioContent {
    background-color: transparent;
    height: 100vh;
    width: 100%;
    margin-bottom: 5%;
  }
  .portifolioContent .leftPortifolioContent {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 25%;
  }
  .portifolioContent .leftPortifolioContent h2 {
    color: #111111;
    margin-left: 20%;
    letter-spacing: 0.055em;
    font-size: 50px;
    font-weight: bold;
  }
  .contactContent {
    color: #111111;
    background-color: transparent;
    width: 100%;
    height: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .contactContent .leftContactContent {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactContent .leftContactContent h2 {
    color: #111111;
    font-size: 30px;
    letter-spacing: 0.055em;
  }
  .contactContent .leftContactContent p {
    font-size: 20px;
    font-weight: 600;
  }
  .contactContent .leftContactContent form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 100%;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #111111;
  }
  .contactContent .leftContactContent form input {
    width: 60%;
    height: 10%;
    border: 2px solid #111111;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: #111111;
    background-color: transparent;
    outline: none;
  }
  .contactContent .leftContactContent form textarea {
    width: 60%;
    height: 25%;
    border: 2px solid #111111;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: #111111;
    background-color: transparent;
    outline: none;
  }
  .contactContent .leftContactContent form button {
    width: 30%;
    height: 10%;
    color: #111111;
    border: 2px solid #111111;
    border-radius: 5px;
  }
  .contactContent .leftContactContent form button:hover {
    color: #ffffff;
    background-color: #111111;
  }
  .contactContent .leftContactContent form ::-webkit-input-placeholder {
    color: #111111;
  }
  .contactContent .leftContactContent form :-ms-input-placeholder {
    color: #111111;
  }
  .contactContent .leftContactContent form ::-ms-input-placeholder {
    color: #111111;
  }
  .contactContent .leftContactContent form ::placeholder {
    color: #111111;
  }
  .contactContent .rightContactContent {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactContent .rightContactContent h2 {
    color: #111111;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.055em;
  }
  .contactContent .rightContactContent p {
    font-size: 25px;
    text-align: center;
    margin: 10%;
    font-weight: 600;
  }
  .contactContent .rightContactContent a {
    color: #b63551;
    text-decoration: none;
  }
  footer {
    background-color: #111111;
    width: 103%;
    height: 12vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
  footer a {
    text-decoration: none;
    color: #ffffff;
  }
  .div-slider {
    width: auto;
    height: auto;
    text-align: center;
    margin: 0%;
  }
  .slides-front {
    padding: 0;
    width: 90%;
    height: 90%;
    display: block;
    margin: auto;
    position: relative;
  }
  .slides-front * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  .slides-front input {
    display: none;
  }
  .slide-container {
    display: block;
  }
  .slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 80%;
    display: block;
    position: absolute;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all .5s ease-in-out 0.1s;
    transition: all .5s ease-in-out 0.1s;
  }
  .slide img {
    max-width: 60%;
  }
  .nav label {
    display: none;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    text-shadow: 0px 0px 15px #111111;
  }
  .slide:hover + .nav label {
    opacity: 0.5;
  }
  .nav label:hover {
    opacity: 1;
  }
  .nav .next {
    right: 0;
  }
  input:checked + .slide-container .slide {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: opacity 1s ease-in-out 0.1s;
    transition: opacity 1s ease-in-out 0.1s;
  }
  input:checked + .slide-container .nav label {
    display: block;
  }
  .nav-dots {
    width: 100%;
    height: 11px;
    display: block;
    position: relative;
    margin: auto;
    bottom: -200px;
    text-align: center;
  }
  .nav-dots a {
    text-decoration: none;
    color: #111111;
  }
  .nav-dots a:hover {
    color: #b63551;
  }
  .nav-dots h3 {
    margin-top: 400px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
  }
  .nav-dots .nav-dot {
    top: 375px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
  }
  input#img-1:checked ~ .nav-dots label#img-dot-1,
  input#img-2:checked ~ .nav-dots label#img-dot-2,
  input#img-3:checked ~ .nav-dots label#img-dot-3,
  input#img-4:checked ~ .nav-dots label#img-dot-4 {
    background: rgba(0, 0, 0, 0.8);
  }
}

@media screen and (max-width: 800px) {
  body {
    max-width: 100%;
  }
  #container-initial {
    margin-bottom: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #container-initial img {
    z-index: -2;
    margin-top: 3%;
    position: absolute;
    width: 98%;
    height: 100%;
    border-radius: 10px;
  }
  #container-initial .menu {
    color: #ffffff;
    margin-top: 2rem;
  }
  #container-initial .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0.5rem;
    list-style: none;
  }
  #container-initial .menu ul a {
    color: #ffffff;
    text-decoration: none;
  }
  #container-initial .menu ul a:hover {
    color: #b63551;
  }
  #container-initial .menu ul li {
    margin-left: 5%;
    font-size: 1.5rem;
  }
  #container-initial .menu ul li + li {
    margin-left: 1.5rem;
  }
  #container-initial .menu .text-header {
    margin-top: 80%;
  }
  #container-initial .menu .text-header h2 {
    font-weight: 400;
    font-size: 1.8rem;
  }
  #container-initial .menu .text-header h1 {
    font-size: 2.5rem;
  }
  .aboutmeContent {
    width: 100%;
    background-color: transparent;
    margin-bottom: 10%;
    margin-top: 70%;
  }
  .aboutmeContent figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutmeContent figure img {
    position: relative;
    width: 40%;
    border: 2px solid #111111;
    margin-left: 4%;
  }
  .aboutmeContent figure .img1 {
    width: 50%;
    border: 2px solid #111111;
  }
  .aboutmeContent figure .img2 {
    margin-left: -35%;
    margin-top: 20%;
  }
  .aboutmeContent p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #111111;
    font-size: 1.3rem;
    text-align: justify;
    max-width: 550px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .aboutmeContent h2 {
    height: 10%;
    position: relative;
    color: #111111;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 5%;
  }
  .div-slider {
    width: auto;
    height: auto;
    text-align: center;
  }
  .slides-front {
    padding: 0;
    width: 90%;
    height: 90%;
    display: block;
    margin: auto;
    margin-left: 15%;
    position: relative;
  }
  .slides-front * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  .slides-front input {
    display: none;
  }
  .slide-container {
    display: block;
  }
  .slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 80%;
    display: block;
    position: absolute;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all .5s ease-in-out 0.1s;
    transition: all .5s ease-in-out 0.1s;
  }
  .slide img {
    max-width: 90%;
  }
  .nav label {
    display: none;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    text-shadow: 0px 0px 15px #111111;
  }
  .slide:hover + .nav label {
    opacity: 0.5;
  }
  .nav label:hover {
    opacity: 1;
  }
  .nav .next {
    right: 0;
  }
  input:checked + .slide-container .slide {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: opacity 1s ease-in-out 0.1s;
    transition: opacity 1s ease-in-out 0.1s;
  }
  input:checked + .slide-container .nav label {
    display: block;
  }
  .nav-dots {
    width: 100%;
    height: 11px;
    display: block;
    position: relative;
    text-align: center;
  }
  .nav-dots a {
    text-decoration: none;
    color: #111111;
  }
  .nav-dots a:hover {
    color: #b63551;
  }
  .nav-dots h3 {
    position: relative;
    margin-top: 70%;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
  }
  .nav-dots .nav-dot {
    top: 375px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
  }
  input#img-1:checked ~ .nav-dots label#img-dot-1,
  input#img-2:checked ~ .nav-dots label#img-dot-2,
  input#img-3:checked ~ .nav-dots label#img-dot-3,
  input#img-4:checked ~ .nav-dots label#img-dot-4 {
    background: rgba(0, 0, 0, 0.8);
  }
  .portifolioContent {
    margin-top: 30%;
    background-color: transparent;
    height: 60vh;
    width: 100%;
  }
  .portifolioContent .leftPortifolioContent {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 25%;
  }
  .portifolioContent .leftPortifolioContent h2 {
    color: #111111;
    margin-left: 10%;
    margin-bottom: 15%;
    font-size: 50px;
    font-weight: bold;
  }
  .contactContent {
    margin-left: 5%;
    color: #111111;
    background: transparent;
    width: 100%;
    height: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .contactContent .leftContactContent {
    background-color: transparent;
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactContent .leftContactContent h2 {
    color: #111111;
    font-size: 20px;
  }
  .contactContent .leftContactContent p {
    font-size: 15px;
    font-weight: 600;
  }
  .contactContent .leftContactContent form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
  }
  .contactContent .leftContactContent form input {
    width: 90%;
    height: 5%;
    border: 2px solid #111111;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: #111111;
    background-color: transparent;
    outline: none;
  }
  .contactContent .leftContactContent form textarea {
    width: 90%;
    height: 25%;
    border: 2px solid #111111;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: #111111;
    background-color: transparent;
    outline: none;
  }
  .contactContent .leftContactContent form button {
    color: #111111;
    border: 2px solid #111111;
  }
  .contactContent .leftContactContent form button:hover {
    color: #ffffff;
    background-color: #111111;
  }
  .contactContent .leftContactContent form ::-webkit-input-placeholder {
    color: #111111;
  }
  .contactContent .leftContactContent form :-ms-input-placeholder {
    color: #111111;
  }
  .contactContent .leftContactContent form ::-ms-input-placeholder {
    color: #111111;
  }
  .contactContent .leftContactContent form ::placeholder {
    color: #111111;
  }
  .contactContent .rightContactContent {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactContent .rightContactContent h2 {
    color: #111111;
    font-size: 30px;
    font-weight: bold;
  }
  .contactContent .rightContactContent p {
    font-size: 15px;
    text-align: center;
    margin: 10%;
    font-weight: 600;
  }
  .contactContent .rightContactContent a {
    color: #b63551;
    text-decoration: none;
  }
  footer {
    background-color: #111111;
    width: 100%;
    height: 12vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
  }
  footer a {
    text-decoration: none;
    color: #ffffff;
  }
}
/*# sourceMappingURL=style.css.map */